
.body, .main-header, .main-sidebar, .content-wrapper, .box-header, .box-body, .box-footer{
    font-family: 'Poppins', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Poppins', sans-serif !important;
}

.sidebar-menu > li {
	position: relative;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #2f3e45;
}

.skin-blue .sidebar a {
	color: #fff;
	font-weight: bold;
}
/* 
.panel-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: -webkit-linear-gradient(top, #222, #3c8dbc);
} */

/* background: -webkit-linear-gradient(top, #d1d3f9, #6266df); */